@font-face {
	font-family: 'Baskervvol';
	src: url('BBBBaskervvol-Fondue.woff2') format('woff2');
}
.first, .second{
	font-size: 20pt;
	position: absolute;
	top: 50%;
	left: 40%;

}
.second{
	font-size: 24pt;
	left: 42%;
}
.third{
	position: absolute;
	font-size: 23pt;
}
.flyer{
width: 400px;
}
.contenant {
	position : relative;
	top: 130vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}
.bloc{
	line-height: 1.8;
margin: 20px;
margin-bottom: 300px;
padding: 15px;
flex-basis: 500px;
justify-content: center;
}
strong{
font-style:italic;
}
*{
font-family:'Baskervvol';
font-size: 13pt;
font-weight: bold;
}
.entree{
position: absolute;
top: 400px;
left: 80vw;
}
.descriptif{
	position: relative;
	margin : 20px;
	padding: 15px;
	width: 500px;
}
.infos:hover{
cursor: help;
}

body{
margin: auto;
border-top: 10px solid black;
}
@media screen and (max-width: 1000px) and (min-height:1000px){
*{
font-size: 20pt;
}
.first, .second{
	font-size: 30pt;
}
.second{
	font-size: 34pt;
}
.third{
	font-size: 25pt;}
.flyer{
width: 90vw;
left: -100px;
}
.clef{
width: 20vw;
top: 150px;
}

.bloc{
padding: 50px;
flex-basis: 100%;
}
.liens>a, li{
text-decoration: none;
}

