@font-face {
	font-family: 'Baskervvol';
	src: url('BBBBaskervvol-Fondue.woff2') format('woff2');
}
.first>p{
	color: black;
	margin: 0px;
	width: 140%;
}
.first{
	position: sticky;
	top: -60px;
	width: 300px;
	margin: 30px;
	padding: 15px;
z-index: 9999;
}
.first>p:first-child{
	font-size: 18pt;
}

.third{
	position: absolute;
	font-size: 23pt;
	text-shadow: gold 0px 10px 20px;
}
.flyer{
width: 400px;
}
.contenant {
position : relative;
top: 20vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}
.intro{
	background-color: lightgreen;
	font-size: 22pt;
	padding: 12px;
	border: solid red 3px;
}
.bloc{
	line-height: 1.8;
margin: 20px;
margin-bottom: 200px;
padding: 15px;
flex-basis: 500px;
}
strong{
font-style:italic;
}
*{
font-family:'Baskervvol';
font-size: 14pt;
font-weight: bold;
}
.clef{
position: absolute;
top: 220px;
left: 80vw;
}
.descriptif{
	position: relative;
	margin : 20px;
	padding: 15px;
	width: 500px;
}
.infos:hover{
cursor: help;
}
.btn2{
  position:fixed;
  bottom:1%;
  right:1%;
  z-index:9999;
}

body{
margin: auto;
background: linear-gradient(0deg, rgba(223,223,223,1) 0%, rgba(219,220,219,1) 0%, rgba(105,134,101,1) 0%, rgba(97,128,92,1) 0%, rgba(207,213,255,1) 0%, rgba(254,226,255,1) 18%, rgba(176,133,222,1) 51%, rgba(168,123,218,1) 60%, rgba(171,128,218,1) 66%, rgba(223,223,223,1) 100%, rgba(95,126,90,1) 100%);
/* background: rgb(223,223,223);*/
}
@media screen and (max-width: 1000px) and (min-height:1000px){
*{
font-size: 20pt;
}
.first, .second{
	font-size: 30pt;
}
.second{
	font-size: 34pt;
}
.third{
	font-size: 25pt;}
.flyer{
width: 90vw;
left: -100px;
}
.clef{
width: 20vw;
top: 150px;
}

.bloc{
padding: 50px;
flex-basis: 100%;
}
.liens>a, li{
text-decoration: none;
}

